<div class="row">
    <div [ngClass]="isNewProductCardOpen ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">Product List</div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="openAddProd()">New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and
                                    engineer
                                </p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and
                                    engineer
                                </p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and
                                    engineer
                                </p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image"
                                style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and
                                    engineer
                                </p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isNewProductCardOpen">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">New Product</div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="closeAddProd()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">SKU</label>
                        <input type="text" [(ngModel)]="prodObj.productSku" name="productSku" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" [(ngModel)]="prodObj.productName" name="productSku" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Short Name</label>
                        <input type="text" [(ngModel)]="prodObj.productShortName" name="productSku" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Price</label>
                        <input type="text" [(ngModel)]="prodObj.productPrice" name="productSku" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Category</label>
                        <select class="form-select">
                            <option value="category.categoryId" *ngFor="let category of categoryList">{{category.categoryName}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Delivery Time Span</label>
                        <input type="text" [(ngModel)]="prodObj.productName" name="productSku" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Image Url</label>
                        <input type="text" [(ngModel)]="prodObj.productSku" name="productSku" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Product Description</label>
                        <textarea name="" id="" rows="4" class="form-control" [(ngModel)]="prodObj.productDescription"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>